<footer class="navbar-light bg-dark">
    <div class="footer">
        <div class="liks" id="contact">
                <a href="tel:+91-971-389-9628"><span class="material-symbols-outlined">call</span> +91 9713899628 </a>
                <a href="mailto:bhoajit@gmail.com"><span class="material-symbols-outlined">mail</span>  bhoajit@gmail.com </a>
                
        </div>
        AR TRANSPORT 2022        
    </div>
    </footer>
