@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins&display=swap');
/* font-family: 'Macondo', cursive;
font-family: 'Poppins', sans-serif; */

body{
    font-family: 'Poppins', sans-serif;
}
.hidden{
    display: none;
}
.bg-nav{
    background-color: #D5D8B5;
}
.navbar{
    max-width: 1080px;
    margin: 0 auto;
}
.navbar-brand{
    display: flex;
    align-items: center;
    font-family: 'Macondo', cursive;
    font-weight: bold;
}
.navbar-brand img{
    padding:3px;
    border: 2px solid #000000;
    border-radius: 30px;
    margin-right: 10px;
}
.name{
    float: left;
    font-family: 'Macondo', cursive;
}
.nav-link{
    text-decoration: none;
    color: #000000;
}
.navbar-toggler{
    display: none;
}
main{
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}
.carousel-inner{
    height: 500px;
    color: #000000;
    background-color: #bcbcbc;
}
.carousel-inner img{
    height: 500px;
}
.d-none{
    color: #1E5128;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.d-none h5{
    font-weight: bolder;
}
h4{
    font-weight: bold;
}
section{
    padding: 30px 0;
    font-weight: 700;
}
section h2{
    text-align: center;
    font-weight: bold;
}
.searchp{
    margin: 20px 30%;
}
.searchp label{
    margin-top: 30px;
}
.btn-area{
    text-align: center;
    width: 100%;
}
.btn-primary{
    margin: 20px auto ;
    padding: 5px 30px;
}
.sub-sec{
    margin: 30px 10%;
}
footer{
    text-align: center;
    padding: 20px;
}
.footer{
    color:#D5D8B5;
}
.footer a{
    color: #D5D8B5;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.footer a:hover{
    color: brown;
}

/*calculate page*/
.form-head{
    text-align: center;
}
.hidden{
    display: none;
}
main p span{
    font-weight: 800;
}
.pdf{
    display: flex;
}
.pdf div{
    flex: 50%;
}
.ss{
    font-weight: 800;
    display: flex;
    align-items: center;
}
.ss img{
    padding: 0;
    margin: 0;
}
.mimg{
    width: 250px;
}
.form-floating{
    margin-top: 20px;
}
.p-4{
    text-align: left;
}
.btn-link{
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.btn-link:hover{
    opacity: 0.9;
    color: #bcbcbc;
}
.complete{
    background-color: #1E5128;
}
.delete{
    background-color: brown;
}
.btn-c{
    border: 3px solid #1E5128;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    color: #000000;
    
}
.link-care{
    margin: 30px auto 30px;
}
.btn-primary{
    background-color: #212529;
    border: none;
}
.btn-primary:hover{
    background-color: #1E5128;
}
.loginform{
    margin: 0 20%;
}
.about{
    text-align: center;
    margin: 50px auto;
}
.contact{
    text-align: center;
    margin: 50px auto;
}
.inline{
    display: flex;
}
.inline p{
    margin-left: 5px;
}
.contact-area{
    margin: 20px 10%;
}
.material-symbols-outlined{
    position: relative;
    top:5px;
}
.liks p{
    margin: 0 10px 20px;
    display: inline-block;
}
.imgin{
    display: none;
}
