/* Mobile Styles */
@media only screen and (min-width: 300px) and (max-width: 539px) {
.nav{
    display: none;
}
.navbar-brand{
    font-size: 16px;
}
.navbar-brand img{
    width: 40px;
    height: 40px;
}
.navbar-toggler{
    display: block;
}

.searchp{
    margin: 15px 10%;
}

.sub-sec{
    margin: 30px 10%;
}
footer{
    text-align: center;
    padding: 20px;
}
.footer{
    color:#D5D8B5;
}
.footer a{
    color: #D5D8B5;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.footer a:hover{
    color: brown;
}

/*calculate page*/
.form-head{
    text-align: center;
}
.hidden{
    display: none;
}
main p span{
    font-weight: 800;
}
.pdf{
    display: block;
}
.mimg{
    width: 100%;
}
.form-floating{
    margin-top: 20px;
}
.p-4{
    text-align: left;
}
.btn-link{
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.btn-link:hover{
    opacity: 0.9;
    color: #bcbcbc;
}
.complete{
    background-color: #1E5128;
}
.delete{
    background-color: brown;
}
.btn-c{
    border: 3px solid #1E5128;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    color: #000000;
    
}
.link-care{
    margin: 30px auto 30px;
}
.btn-primary{
    background-color: #212529;
    border: none;
}
.btn-primary:hover{
    background-color: #1E5128;
}
.loginform{
    margin: 50px 10%;
}
.about{
    text-align: center;
    margin: 50px auto;
}
.contact{
    text-align: center;
    margin: 50px auto;
}
.inline{
    display: flex;
}
.inline p{
    margin-left: 5px;
}
.contact-area{
    margin: 20px 10%;
}
.liks{ margin-bottom: 30px;}
.liks p{
    margin: 0;
}
.center{
    text-align: center;
}
.imgin{
    margin: 5px auto 10px;
    display: block;
}

  }