<h4>How to book ?</h4>
<p>1. fill out the given form above and click on the continue button. It will take you to the main form.</p>
<p>2. On the main form fill out all required Personal information.</p>
<p>3. Then fill out the booking information and upload an image of your materials.</p>
<p>4. Please read the terms and conditions, check that and click on submit button.</p>