<div class="contact">
    <h1>Contact Me</h1>
    <div class="contact-area">
    <div class="inline"><h5>Contact No : </h5><p>+91-9713899628</p></div>
    <div class="inline"><h5>Email : </h5><p>bhoajit@gmail.com</p></div>   
</div>
</div>