<h4>How we work ?</h4>
<p>When you completely filled the form. then we call you within 8 hours for more queries.</p>
<p>If you want to cancel your booking, so wait for us to call you and just say that you want to cancel.</p>